@charset "UTF-8";
/* 
 *Set all partials to exclude in Styleguide project 
 */
/*------------------------------------*\
    $PARTIALS
\*------------------------------------*/
/**
 * All files to be compiled
 */
/**
* Scss Libraries, mixins, functions and any Scss focused logic
**/
/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
 *
 * Define all variables and values to use
 *
 */
/*------------------------------------*\
    $INCLUDED-COMPONENTS
\*------------------------------------*/
/**
 * We can tell the components to use here, `true` for used, `false` unused.
 * Remember you can overwrite this value anywhere else by removing the `!default` property
 */
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, then expand until it looks like shit. Time to insert a breakpoint!"
 * Used with mixin `respond-to($breakpoint)`:

.div {
  color: pink;
  @include respond-to(medium) {
    color: maroon;
  }
}
 *
 */
/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/
/**
 * We can have control over z-index and not ending up having 900 to infinite.
 * To use this values, we use the `z($layers)` function:
 .element {
  z-index: z(goku);
 }
 *
 */
/*------------------------------------*\
    $DIR
\*------------------------------------*/
/**
 * Sometimes we change image dir from develop to production:
 */
/*
 * In case we use local fonts (I use them fewer and fewer lately)
 */
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Constant layout values, apart from these we can also declare values
 * for different blocks sizes and more.
 */
/*------------------------------------*\
    $GRID
\*------------------------------------*/
/**
 * These are the variables we use for our Grid
 */
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Fonts definitions
 */
/*
 * Font Size variables are defined in a Scss MAP, this MAP will create
 * a class (in `utilities.scss`) for every size with the value in REM units, you can check
 * `utilities.scss` if you need to change the loop:

  .x-small { font-size: .8rem}

 * We also have a function to assign font sizes, call `fs`:

    .selector { font-size: fs(x-small);}

 *
 */
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand colors
 */
/**
* Grey Scale
* This is mainly to hold back designers from adding 200 different greys ;)
*/
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*
* Fácil de usar: las variables a usar están en settings.scss y son:

    'small'  : 48em,
    'medium' : 56.25em,
    'large'  : 68.75em,

* Y el uso va como sigue:

.foo {
  color: red;
  @include respond-to('small') {
    color: blue;
  }
}
*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*\
    $FUNCIONES
\*------------------------------------*/
/*
 * Función para controlar el index

 	.selector { z-index: z(goku);}

 * compila:

	.selector { z-index: 9001;}

 * Puedes ver las variables en el MAP en settings.scss
 */
/*
 * Función para mantener el tamaño de fuente consistente

 .selector { font-size: fs(x-small);}

 * Puedes ver en settings.scss las variables que se utilizan.
 */
/**
* Base
**/
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tú quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

*, *::before, *::after {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/**
* HTML elements
**/
/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
  margin-bottom: 1.5;
}
figure img {
  margin-bottom: 0.375;
}
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
  color: #737373;
}

/*------------------------------------*\
    $FORMULARIOS
\*------------------------------------*/
form {
  margin: 0 0 1.5 0;
}
form fieldset {
  margin-bottom: 1.5;
  padding: 0;
  border-width: 0;
}
form legend {
  display: block;
  width: 100%;
  margin-bottom: 3;
  padding: 0;
  color: color-grey(lightgrey);
  border: 0;
  border-bottom: 1px solid #bfbfbf;
  white-space: normal;
}
form legend small {
  font-size: 0.6rem;
  color: #bfbfbf;
}
form p {
  margin-bottom: 0.75;
}
form ul {
  list-style-type: none;
  margin: 0 0 1.5 0;
  padding: 0;
}
form br {
  display: none;
}

label,
input,
button,
select,
textarea {
  font-size: 0.6rem;
  border-radius: 5px;
  vertical-align: baseline;
}

input,
button,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: 0.1875;
  font-family: 0.6rem;
  font-weight: bold;
  color: color-grey(lightgrey);
  cursor: pointer;
}

input,
textarea,
select {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 4px;
  margin-bottom: 1.5;
  background-color: white;
  border: 1px solid #bfbfbf;
  color: color-grey(lightgrey);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:hover,
textarea:hover,
select:hover {
  border-color: gray;
}

.input-small {
  width: 60px;
}

.input-medium {
  width: 150px;
}

.input-big {
  width: 300px;
}

input[type=image] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 3px 0 0;
  line-height: normal;
  cursor: pointer;
  background-color: white;
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background-color: #bfbfbf;
  border-color: white;
  border-width: 1px;
  box-shadow: 0 0 0 1px #bfbfbf;
}
input[type=checkbox] + label,
input[type=radio] + label {
  margin-right: 24px;
}

input[type=radio] {
  border-radius: 100%;
}

label input[type=checkbox],
label input[type=radio] {
  margin-right: 6px;
}

input[type=image] {
  border: 0;
  box-shadow: none;
}

input[type=file] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  box-shadow: none;
}

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top;
}

input[type=hidden] {
  display: none;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  border-color: #ea83ee, 40%;
  box-shadow: 0 0 1px 1px #bfbfbf;
  outline: none;
}

::-webkit-input-placeholder {
  font-size: 0.8rem;
}

input:-moz-placeholder {
  font-size: 0.8rem;
}

/**
* Validamos los formularios que son "required":
* http://coolvillage.es/ayuda-al-usuario-a-rellenar-formularios-con-css/
*/
input:required:focus:invalid {
  background-color: #fef2e7;
  border: 1px solid #fce4cf;
}

input:required:focus:valid {
  background-color: #e9f5e9;
  border: 1px solid #5bb75b;
}

/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
* .btn es la clase principal para definir un botón
*/
.btn--primary, .btn--success, .btn--warning, .btn--error, .btn--info, .btn--disabled {
  display: inline-block;
  line-height: 3;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  border-top: 1px solid currentcolor;
  border-right: 1px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  border-left: 1px solid currentcolor;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  /**
  	* Nadie quiere un botón con texto subrayado cuando
  	* hacemos hover.
  	*/
}
.btn--primary:hover, .btn--success:hover, .btn--warning:hover, .btn--error:hover, .btn--info:hover, .btn--disabled:hover {
  text-decoration: none;
  color: white;
}
.btn--primary:active, .btn--success:active, .btn--warning:active, .btn--error:active, .btn--info:active, .btn--disabled:active, .btn--primary:focus, .btn--success:focus, .btn--warning:focus, .btn--error:focus, .btn--info:focus, .btn--disabled:focus {
  outline: none;
}
.btn--primary:visited, .btn--success:visited, .btn--warning:visited, .btn--error:visited, .btn--info:visited, .btn--disabled:visited {
  color: white;
}

/*------------------------------------*\
    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */
/**
* Inputs con estilo de botones
*/
input[type=submit].btn:hover {
  border-color: currentcolor;
}

/**
* Botón no disponible
*/
.btn--disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #e6e6e6;
}

/**
* Botón de Info
*/
.btn--info {
  color: #42b8dd;
}
.btn--info:hover {
  color: #42b8dd;
}
.btn--info:visited {
  color: #42b8dd;
}

/**
* Botón de Error
*/
.btn--error {
  color: #da4f49;
}
.btn--error:hover {
  color: #da4f49;
}
.btn--error:visited {
  color: #da4f49;
}

/**
* Botón de advertencia
*/
.btn--warning {
  color: #e78730;
}
.btn--warning:hover {
  color: #e78730;
}
.btn--warning:visited {
  color: #e78730;
}

/**
* Botón de OK
*/
.btn--success {
  color: #5bb75b;
}
.btn--success:hover {
  color: #5bb75b;
}
.btn--success:visited {
  color: #5bb75b;
}

/**
* Botón principal
*/
.btn--primary {
  background-color: #ea83ee;
}

/*------------------------------------*\
    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn--mini {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 1.5;
  font-size: 0.6rem;
}

.btn--small {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 2;
  font-size: 0.8rem;
}

.btn--large {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 3;
  font-size: 1.5rem;
}

/*------------------------------------*\
    $BOTONES-GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn-group {
  position: relative;
}
.btn-group [class^=btn--], .btn-group [class*=" btn--"] {
  position: relative;
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
.btn-group [class^=btn--]:first-child, .btn-group [class*=" btn--"]:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group [class^=btn--]:last-child, .btn-group [class*=" btn--"]:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/*------------------------------------*\
    $IMÁGENES
\*------------------------------------*/
.img--rounded {
  border-radius: 20px;
}

.img--polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid color-grey(lightgrey);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img--circle {
  border-radius: 100%;
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: color-brand(color-brand);
}
a:visited {
  color: color-brand(color-brand);
}
a:hover {
  text-decoration: underline;
  color: color-brand(color-brand);
}
a:focus {
  outline: thin dotted;
  color: color-brand(color-brand);
}
a:hover, a:active {
  outline: 0;
}

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Georgia, Times, "Times New Roman";
  font-weight: normal;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1.altheader,
h2.altheader,
h3.altheader,
h4.altheader,
h5.altheader,
h6.altheader {
  color: #737373;
  text-transform: uppercase;
  display: block;
}

h1, .h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
  line-height: 1.5;
}

h2, .h2 {
  margin-bottom: 0;
  font-size: 2.4rem;
  line-height: 1.5;
}

h3, .h3 {
  margin-bottom: 0;
  font-size: 2.1rem;
  line-height: 1.5;
}

h4, .h4 {
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.5;
}

h5, .h5 {
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

h6, .h6 {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5;
  line-height: 1.5;
}

small {
  font-size: 0.6rem;
  color: #737373;
}

ul,
ol {
  margin: 0 0 1.5 0;
  padding: 0 0 0 24px;
}

li ul,
li ol {
  margin: 0;
}

blockquote {
  margin: 0 0 1.5 0;
  padding-left: 24px;
  border-left: 2px solid color-grey(lightgrey);
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal;
}
blockquote p {
  font-size: 0.8rem;
  color: #737373;
  font-style: italic;
  line-height: 1.5;
}

q {
  quotes: none;
  font-style: italic;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: "";
}

cite {
  font-style: normal;
}

dl,
dd {
  margin-bottom: 1.5;
}

dt {
  font-weight: bold;
}

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}

abbr[title] {
  border-bottom: 1px dotted color-grey(lightgrey);
  cursor: help;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background-color: white;
  color: color-grey(lightgrey);
  text-decoration: none;
}

mark {
  background-color: yellow;
  color: color-grey(lightgrey);
}

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 0.8rem;
  line-height: 1.5;
}

code {
  background-color: #f5f2f0;
  padding: 0.1em 0.3em;
  border-radius: 5px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sub,
sup {
  position: relative;
  font-size: 0.6rem;
  line-height: 0;
  vertical-align: 1.5;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  clear: both;
  display: block;
  margin: 1.5 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid color-grey(lightgrey);
}

.intro {
  font-weight: bold;
}

/*
 * Creamos clases para cada uno de los tamaños de fuentes. Se pueden ver en Settings.
 * Son los nombres de las varables con el prefijo font-
 * Por ejemplo:

        .font-x-small {
            font-size: .8rem;
        }


 */
.font-x-small {
  font-size: 0.6rem;
}

.font-small {
  font-size: 0.8rem;
}

.font-normal {
  font-size: 1rem;
}

.font-big {
  font-size: 1.5rem;
}

.font-huge {
  font-size: 2rem;
}

/*------------------------------------*\
    $TABLAS
\*------------------------------------*/
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #737373;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #737373;
}
table tbody tr td,
table tbody tr th {
  transition: background-color 0.25s 0 linear;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #e6e6e6;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #737373;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #737373;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #e6e6e6;
}

/**
* Layout and general styles
**/
/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  background: color-grey(lightgrey);
  font-size: 87.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: color-grey(lightgrey);
}

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
.alert--myawesomealert, .alert--block, .alert--info, .alert--error, .alert--warning, .alert--success {
  margin-bottom: 1.5;
  padding: 8px 35px 8px 14px;
  background-color: #fce4cf;
  border: 1px solid #f6ae6f;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  color: #904809;
  border-radius: 5px;
  position: relative;
}
.alert--myawesomealert .alert--heading, .alert--block .alert--heading, .alert--info .alert--heading, .alert--error .alert--heading, .alert--warning .alert--heading, .alert--success .alert--heading {
  color: inherit;
}
.alert--myawesomealert .close, .alert--block .close, .alert--info .close, .alert--error .close, .alert--warning .close, .alert--success .close {
  position: absolute;
  top: -2px;
  right: 2px;
  float: right;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
}

.alert--success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834;
}

.alert--warning {
  background-color: #f7d6b9;
  border-color: #f2bc8b;
  color: #9f5512;
}

.alert--error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49;
}

.alert--info {
  background-color: #6dc8e5;
  border-color: #24a1c8;
  color: #05161b;
}

.alert--block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert--block .alert--heading {
  margin-bottom: 0.1875;
  font-size: inherit;
  font-weight: bold;
}
.alert--block > p,
.alert--block > ul {
  margin-bottom: 0;
}
.alert--block p + p {
  margin-top: 5px;
}

.badge--info, .badge--success, .badge--warning, .badge--error, .badge--primary {
  padding: 0.1em 0.3em;
  margin-right: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
  border: 1px solid currentcolor;
  border-radius: 5px;
  color: color-grey(lightgrey);
  background-color: transparent;
  transition: background-color 0.25s 0 linear;
}
.badge--info:hover, .badge--success:hover, .badge--warning:hover, .badge--error:hover, .badge--primary:hover {
  color: color-grey(lightgrey);
  text-decoration: none;
  cursor: pointer;
}

.badge--error {
  color: #da4f49;
}

.badge--warning {
  color: #e78730;
}

.badge--success {
  color: #5bb75b;
}

.badge--info {
  color: #42b8dd;
}

.badge--icon {
  display: inline-block;
  color: color-grey(lightgrey);
  border: 1px solid color-grey(lightgrey);
  border-radius: 5px;
  padding: 12px;
  background-color: transparent;
  text-align: center;
}

::selection {
  background-color: white;
  color: #ea83ee;
  text-shadow: none;
}

/**
* Componets used for layouts, headers, articles, etc...
**/
/*------------------------------------*\
    $grid
\*------------------------------------*/
* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

[class^=item-], [class*=" item-"] {
  background-color: pink;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 6px;
  padding: 5px;
  min-height: 100px;
}

.item-1 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-1 {
    flex: 0 0 calc(8.3333333333% - 12px);
  }
}

.item-2 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-2 {
    flex: 0 0 calc(16.6666666667% - 12px);
  }
}

.item-3 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-3 {
    flex: 0 0 calc(25% - 12px);
  }
}

.item-4 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-4 {
    flex: 0 0 calc(33.3333333333% - 12px);
  }
}

.item-5 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-5 {
    flex: 0 0 calc(41.6666666667% - 12px);
  }
}

.item-6 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-6 {
    flex: 0 0 calc(50% - 12px);
  }
}

.item-7 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-7 {
    flex: 0 0 calc(58.3333333333% - 12px);
  }
}

.item-8 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-8 {
    flex: 0 0 calc(66.6666666667% - 12px);
  }
}

.item-9 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-9 {
    flex: 0 0 calc(75% - 12px);
  }
}

.item-10 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-10 {
    flex: 0 0 calc(83.3333333333% - 12px);
  }
}

.item-11 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-11 {
    flex: 0 0 calc(91.6666666667% - 12px);
  }
}

.item-12 {
  flex-basis: 100%;
}
@media (min-width: 56.25em) {
  .item-12 {
    flex: 0 0 calc(100% - 12px);
  }
}

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/*
*
* Selectors repeated constantly
*/
/*
 * Classes for font- sizes, you can check them in Settings.scss
 * Same name of the variables with the `font-` prefix

		.font-x-small {
			font-size: .9rem;
		}


 */
.font-x-small {
  font-size: 0.6rem;
  line-height: 1.5;
}

.font-small {
  font-size: 0.8rem;
  line-height: 1.5;
}

.font-normal {
  font-size: 1rem;
  line-height: 1.5;
}

.font-big {
  font-size: 1.5rem;
  line-height: 1.5;
}

.font-huge {
  font-size: 2rem;
  line-height: 1.5;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.nomargin-bottom {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: 1.5;
}

/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
* The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
.block__body:after, .btn-group:after {
  content: "";
  display: table;
  clear: both;
}

.stcontainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  width: 100%;
  background-color: white;
  padding: 1.5 24px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin-bottom: 1.5;
}

.sttitle {
  display: block;
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 3;
  font-size: 0.6rem;
  line-height: 2;
  color: #737373;
}

.stcolor {
  height: 100px;
  position: relative;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 24px;
}
.stcolor:before {
  content: attr(data-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  font-size: 0.8rem;
  width: 95%;
  text-align: center;
}

.sttitlebag:before {
  content: attr(data-header);
  display: inline-block;
  font-size: 0.6rem;
  margin-right: 1em;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  line-height: 1.6;
  width: 1.6em;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #bfbfbf;
  color: #737373;
  vertical-align: middle;
}

.basefont {
  font-family: "Quicksand", sans-serif;
}
.basefont:after {
  content: " Quicksand, sans-serif";
}

.altfont {
  font-family: Georgia, Times, "Times New Roman";
}
.altfont:after {
  content: " Georgia, Times, Times New Roman";
}

.codefont {
  font-family: "Courier New", monospace;
}
.codefont:after {
  content: " Courier New, monospace";
}

[class^=grid--item-], [class*=" grid--item-"] {
  min-height: 100px;
}

.alert--myawesomealert {
  background-color: hotpink;
  color: firebrick;
}

.stfontblock {
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  line-height: 1;
  padding: 12px 6px;
  margin-right: 0.5em;
  font-size: 2rem;
}
.stfontblock span {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.sticons {
  border: 1px solid #bfbfbf;
  padding: 0.5em;
  width: 180px;
  margin-bottom: 12px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.sticons small {
  display: block;
  font-weight: bold;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 1.5em;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0 1.5em;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/
/*
 * We add here differents blocks in the layout,
 * like: small blocks, centered blocks, and so.


    <div class="block">
        <div class="block__title">

        </div>
        <div class="block__body">

        </div>
    </div>


*/
.block {
  max-width: 100%;
  margin-bottom: 24px;
  background-color: white;
  position: relative;
  /* Block Title */
  /* Block Info */
  /* Block body */
}
.block--hasfooter {
  padding-bottom: 4em;
}
.block--collapse {
  margin-bottom: 0;
}
.block--highlight .block__title, .block--highlight .block__subtitle {
  background-color: #ea83ee;
  color: white;
}
.block--bordertop {
  border-top: 5px solid #ea83ee;
}
.block__title, .block__subtitle {
  width: 100%;
  background-color: white;
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #dbd879;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
}
.block__title.center, .center.block__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block__title p, .block__subtitle p {
  margin: 0;
}
.block__title p a, .block__subtitle p a {
  font-weight: normal;
}
.js-collapse .block__title, .js-collapse .block__subtitle {
  border-bottom: none;
}
.block__title--white {
  border-bottom: 1px solid #bfbfbf;
  background-color: white !important;
  color: color-grey(lightgrey) !important;
}
.block__title--center {
  display: flex;
  align-items: center;
}
.block__subtitle {
  border: none;
  padding: 12px 48px;
}
.block__subtitle.block__subtitle--white {
  background-color: white;
  color: color-grey(lightgrey);
}
.block__info {
  padding: 12px 48px;
  margin-left: auto;
  color: #dbd879;
  background-color: white;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-top: 3px;
  text-transform: none;
  line-height: 1.5;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}
.block__info:hover, .block__info:visited {
  text-decoration: none;
  color: #dbd879;
}
.block__info button {
  margin-top: -4px;
}
.block__info--group {
  float: right;
  padding: 3px 5px;
  margin-left: 24px;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.5;
  text-decoration: none;
  display: inline-block;
}
.block__info--group:hover, .block__info--group:visited {
  text-decoration: none;
}
.block__info--group .btn {
  line-height: 1.8;
}
.block__info--success {
  color: #5bb75b;
}
.block__info--warning {
  color: #e78730;
}
.block__info--error {
  color: #da4f49;
}
.block__info--info {
  color: #42b8dd;
}
.block__info.block__subtitle--white {
  background-color: white;
  color: color-grey(lightgrey);
}
.block__body {
  padding: 24px;
  background-color: white;
  position: relative;
}
.block__body fieldset {
  border: none;
}
.block__body--smallpadding {
  padding: 12px;
}
.block__options .wrapper {
  padding: 12px 24px;
}
.block__options a:last-child {
  margin-top: 24px;
}
.block-bg {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.block--whitebg {
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
.block--whitebg > .block__title, .block--whitebg > .block__subtitle {
  border-bottom: 1px solid #bfbfbf;
  background-color: white;
  color: color-grey(lightgrey);
}
.block--whitebg.block--highlight .block__title, .block--whitebg.block--highlight .block__subtitle {
  background-color: #ea83ee;
  color: white;
}
.block--whitebg.block--bordertop {
  border-top: 5px solid #ea83ee;
}
.block__footer {
  position: absolute;
  bottom: 12px;
  width: 100%;
  padding: 6px;
}